@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

html{
    color:#333;
    font-family: Helvetica, Arial, sans-serif;
}
nav a, nav a:visited, p a, p a:visited, h2 a, h2 a:visited {
    color: #666;
}
nav a:active, p a:active, h2 a:active {
    color: #DEB887;
}
nav a:hover, p a:hover, h2 a:hover {
    color: #00ddff;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
h1 a {
    color: #333;
    font-family: "Lora", 'Times New Roman', Times, serif;
    font-size: 4rem;
}
h2 {
    font-family: "Lora", 'Times New Roman', Times, serif;

}
nav {
    border-top: 2px solid #d0d0d0;
    border-bottom: 2px solid #d0d0d0;
    text-transform: uppercase;
    
    font-family: "Lora", 'Times New Roman', Times, serif;   
}
nav li {
    padding: .5rem;
}
header {
    text-align: center;
}
.post-date {
    border-bottom: 2px solid #d0d0d0;
    text-transform: uppercase;
    text-align: right;
    color: black;
    margin-top: 2rem;
    font-size: 1.5rem;
    font-family: "Lora", 'Times New Roman', Times, serif;
}
main {
    padding: 2%;
}
img {
    width: 100%;
}

/* large screen  */
@media only screen and (min-width:600px){

ul {
    display: flex;
    justify-content: flex-end;
}
article {
    display: flex;
    flex: 1 1 auto;
}
.post-date {
    border-bottom: 0px;
    min-width: 25%;
    padding: 2%;
}
figure {
    max-width: 200px;
    margin: 0 auto;
}
.post-content {
    border-left:  2px solid #d0d0d0;
    padding: 2%;
    border-bottom:  2px solid #d0d0d0;
}
}